<div>
  <h3>{{title}}</h3>
  <div class="delta-container">
    {{delta-placeholder model=placeholder}}
  </div>
  <div>
    {{details}}
  </div>
  {{#if model}}
    <h4>{{translate 'ttl.ownedDelta'}}</h4>
    <ul>
    {{#each model as |delta|}}
      <li>{{delta.id}}</li>
    {{/each}}
    </ul>
  {{else}}
    <span class="no-delta">{{translate 'lbl.noDelta'}}</span>
  {{/if}}
</div>