{{#panel-layout session=session}}
  {{#details-panel open=selected as |layout|}}
    {{#if layout.isDetails}}
      {{outlet}}
    {{else if layout.isTitle}}
      {{translate 'ttl.collectionDetails'}}
    {{else}}
      <header class="l-header row">
        <h2 class="small-8 column">{{translate 'nav.collection'}}</h2>
      </header>
      <div class="l-scrollable">
        <ul>
        {{#each model.deltas as |delta|}}
          <li {{action "select" delta}}>{{delta.kind}}</li>
        {{/each}}
        </ul>
      </div>
    {{/if}}
  {{/details-panel}}
{{/panel-layout}}