{{#panel-layout}}
  <header class="l-header row">
    <h2 class="small-8 column">{{translate 'nav.connect'}}</h2>
  </header>
  <div class="row l-scrollable">
    <article class="medium-6 column log-in">
      <h1>{{translate 'ttl.logIn'}}</h1>
      <div>
        <h4>{{translate 'lbl.logInWith'}}</h4>
        <ul class="l-nav">
          <li>{{#link-to 'index' class="fi-social-facebook" tagName="i"}}{{/link-to}}</li>
          <li>{{#link-to 'index' class="fi-social-google-plus" tagName="i"}}{{/link-to}}</li>
        </ul>
        <h4>{{translate 'lbl.logIn'}}</h4>
        <form>
          <div class="row">
            {{input class="small-12 columns" value=login placeholder=emailPlaceholder type="email"}}
            {{#if loginMissing}}<small class="error">{{translate 'err.loginMissing'}}</small>{{/if}}
          </div>
          <div class="row">
            {{input class="small-12 columns" value=password placeholder=passwordPlaceholder type="password"}}
            {{#if passwordMissing}}<small class="error">{{translate 'err.passwordMissing'}}</small>{{/if}}
          </div>
          <div class="row">
            <a class="button" href="" {{action "connect"}}><i class="fi-paw"></i>{{translate 'btn.logIn'}}</a>
          </div>
        </form>
      </div>
    </article>
    <article class="medium-6 column sign-in">
      <h1>{{translate 'ttl.signIn'}}</h1>
      <p>{{translate 'msg.majorityNeeded'}}</p>
      <div>
        <h4>{{translate 'lbl.signInWith'}}</h4>
        <ul class="l-nav">
          <li>{{#link-to 'index' class="fi-social-facebook" tagName="i"}}{{/link-to}}</li>
          <li>{{#link-to 'index' class="fi-social-google-plus" tagName="i"}}{{/link-to}}</li>
        </ul>
        <h4>{{translate 'lbl.signIn'}}</h4>
        <form>
          <div class="row">
            {{input class="small-12 columns" placeholder=emailPlaceholder type="email"}}
          </div>
          <div class="row">
            {{input class="small-12 columns" placeholder=passwordPlaceholder type="password"}}
          </div>
          <div class="row">
            <div class="small-1 columns">
              {{input type="checkbox" id="confirmMajority"}}
            </div>
            <div class="small-11 columns">
              <label class="inline" for="confirmMajority">{{translate 'lbl.confirmMajority'}}</label>
            </div>
          </div>
          <div class="row">
            {{#link-to 'index' class="button"}}<i class="fi-plus"></i>{{translate 'btn.signIn'}}{{/link-to}}
          </div>
        </form>
      </div>
    </article>
  </div>
{{/panel-layout}}