{{#panel-layout}}
  <header class="l-header">
    <h2>{{translate title}}</h2>
  </header>
  <ul class="list">
    {{#each model as |gamer|}}
      {{ranking-gamer gamer=gamer list=model}}
    {{else}}
      <li>{{translate 'lbl.noResults'}}</li>
    {{/each}}
    {{infinity-scroll model=model scrollable=".list"}}
  </ul>
{{/panel-layout}}