<span><i class="symbol fi-{{icon}}"></i></span>
<span>{{count}}</span>
<span>{{name}}</span>
<span>{{date-time model.date format="long"}}</span>
<span>{{translate 'lbl.activityPoints' points=model.points}}</span>