<span><i class="symbol fi-{{icon}}"></i></span>
<span>{{count}}</span>
<span>{{name}}</span>
<span>{{date-time activity.date format="long"}}</span>
<span>{{translate 'lbl.activityPoints' points=activity.points}}</span>