<div class="inner-wrap l-panel-wrap">

  <header class="tab-bar l-header">
    <div class="left-small">
      <a class="left-off-canvas-toggle menu-icon"><span></span></a>
    </div>
  </header>

  <aside id="left-menu" class="left-off-canvas-menu l-menu">
    {{#link-to 'index' class="l-title nav-link" tagName="div"}}
      <h2>{{translate 'ttl.app'}}</h2>
      <img src="http://placehold.it/200x200">
      {{#if user}}
        <div class="user-overlay">
          <h4>{{user.pseudo}}</h4>
        </div>
      {{/if}}
    {{/link-to}}
    <ul class="off-canvas-list">
      {{#unless user}}
        <li>{{#link-to 'connect' class="nav-link"}}{{translate 'nav.connect'}}{{/link-to}}</li>
      {{/unless}}
      <li>{{#link-to 'rankings' class="nav-link"}}{{translate 'nav.rankings'}}{{/link-to}}</li>
    </ul>
  </aside>

  <section class="l-panel">
    {{yield}}
  </section>

  <a class="exit-off-canvas"></a>
</div>
