<span>{{rank}}</span>
<span><img src="http://placehold.it/{{avatarSize}}x{{avatarSize}}"></span>
<span>{{gamer.pseudo}}</span>
<span>{{gamer.deltaCount}}<i class="symbol fi-delta"></i></span>
<span>{{gamer.trophyCount}}<i class="symbol fi-trophy"></i></span>
<span>{{gamer.score}}<i class="symbol fi-sheriff-badge"></i></span>
