<span>{{rank}}</span>
<span><img src="http://placehold.it/{{avatarSize}}x{{avatarSize}}"></span>
<span>{{gamer.name}}</span>
<span>{{gamer.deltas}}<i class="symbol fi-delta"></i></span>
<span>{{gamer.trophies}}<i class="symbol fi-trophy"></i></span>
<span>{{gamer.points}}<i class="symbol fi-sheriff-badge"></i></span>
