{{#panel-layout session=session logout="backToHome"}}
  {{#details-panel open=selected as |layout|}}
    {{#if layout.isDetails}}
      {{outlet}}
    {{else if layout.isTitle}}
      {{translate 'ttl.challengeDetails'}}
    {{else}}
      <header class="l-header row">
        <h2 class="small-8 column">{{translate 'nav.challenges'}}</h2>
      </header>
      <div class="l-scrollable">
        <ul class="l-flow-grid">
        {{#each model as |challenge|}}
          {{display-challenge model=challenge selected=selected action="select"}}
        {{/each}}
        </ul>
      </div>
    {{/if}}
  {{/details-panel}}
{{/panel-layout}}